<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Insert title here</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/ckform.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <style type="text/css">
        body {
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }
        @media (max-width: 980px) {
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    </style>
    <script>
        $(function(){

        });
    </script>
</head>
<body>
<form class="form-inline definewidth m20"
      action="/sort/search" method="post">
    图书类别：
    <input type="text" name="name" class="abc input-default" placeholder="类别名称" value="">&nbsp;&nbsp;
    <button type="submit" class="btn btn-primary">查询</button> &nbsp;&nbsp;
    <a type="button" class="btn btn-primary" href="/sysadmin/addSort">
        增加类别
    </a>
</form>
<table class="table table-bordered table-hover definewidth m10">
    <thead>
    <tr>
        <th>序号</th>
        <th>图书类别</th>
        <th>操作</th>
    </tr>
    </thead>
    <tr th:each="sort:${list}">
        <td th:text="${sort.id}"></td>
        <td th:text="${sort.name}"></td>
        <td>
            <a type="button" class="btn btn-success"
               th:href="'/sort/findById/'+${sort.id}">修改</a>
            <a type="button" class="btn btn-danger"
               th:href="'/sort/delete/'+${sort.id}">删除</a>
        </td>
    </tr>
</table>

</body>
</html>